body {
  background-color: #273c75;
  /* color: rgb(10, 245, 206); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
} */
#clock{
  font-size:90px;
  color:black;
  opacity: 70%;
  position: absolute;
  top: 100px;
  margin: 0px;
  
}
#todo-form {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 150px;
  width: 650px;
}
#login-form {
  position: absolute;
  top: 210px;
}
#login-form .login-form__name {
  border-top: none;
  border-left: none;
  border-right: none;
  border: none;
  background-color: #2bff8a7e;
  width: 200px;
  height: 50px;
  color: white;
  margin-bottom: 30px;
  /* border-radius: 15px; */
  text-align: center;
}
#greeting {
  color: white;
  width: 100%;
  height: 50px;
  font-size: 50px;
  opacity: 70%;
  line-height: 50px;
}
.greeting-container {
  position: absolute;
  top: 170px;
  display: inline-flex;
  align-items: center;
}
.button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #007bff;
  background-color: #ffffff;
  text-decoration: underline;
  padding: 0;
  width: 80px;
  height: 50px;
  opacity: 50%;
}
#todo-form .todo-form__todo {
  border-top: none;
  border-left: none;
  border-right: none;
  border: none;
  /* border-width: 2px;
  border-style: solid; */
  border-color: rgb(98, 116, 253);
  background-color: #008cff7e;
  width: 400px;
  height: 60px;
  color: white;
  border-radius: 15px;
  text-align: center;
}
#todo-form .todo-form__todo-radiogroup {

  border: none;
  background-color: #008cff7e;
  height: 60px;
  width: 200px;
  color: white;
  border-radius: 15px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center; 
}
#todo-form .todo-form__todo-radiogroup .todo-radiogroup__todo{
  border-width: 3px;
  border-color: rgb(39, 64, 255);
  background-color: rgb(136, 150, 255);
  height: 60px;
  width: 100px;
  color: white;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center; 
}
#todo-form .todo-form__todo-radiogroup .todo-radiogroup__not-todo{
  border-width: 3px;
  border-color: rgb(255, 87, 87);
  background-color: rgb(255, 155, 155);
  height: 60px;
  width: 100px;
  color: white;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center; 
}
.select
{
  border-style: solid;
}
.unselect
{
  border-style: dashed;
}
input[type=radio] {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0px;
}
fieldset{
  border-style: none;
}
.my-list {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top:10px;

}



input::placeholder {
  color: azure;
}
.clicked {
  color: #7f8c8d;
}
.btn {
  cursor: pointer;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
  animation: fadeIn 0.5s linear;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
#weather {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 30px;
  right: 30px;
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
  padding: 5px;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  width: 135px;
  /* height: 45px; */
}
#airquality-pm10, #airquality-pm2_5 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
  background-color: rgb(107, 126, 255);
  background-color: rgb(45, 213, 64);
  background-color: rgb(255, 162, 56);
  background-color: rgb(255, 62, 62);
  border-radius: 15px;
  opacity: 0.8;
  padding: 5px;
}
#airquality-pm10{
  top: 270px;
  right: 30px;
}
#airquality-pm2_5{
  top: 430px;
  right: 30px;
}
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  width: 135px;
  /* height: 45px; */
}
.finedust-pm10, .finedust-pm2_5{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  width: 135px;
  font-size: 30pt;
}
.finedust-pm10-status, .finedust-pm2_5-status
{
  font-size: 12pt;
}
.finedust{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  width: 135px;
  font-size: 13pt;
}
li
{
  background-color: rgb(255, 255, 255);
}
#todo-list, #not-todo-list, #pending-list, #complete-list {
  padding: 0;
  list-style: none;
  color: rgb(0, 0, 0);
}
#todo-list li, #not-todo-list li, #pending-list li, #complete-list li {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#todo-list li span, #not-todo-list li span, #pending-list li span, #complete-list li span{
  width: 250px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.todo-list-title{
  background-color: rgb(95, 95, 255);
  opacity: 80%;
  color: white;
  width:350px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.nottodo-list-title{
  background-color: rgb(255, 95, 95);
  opacity: 80%;
  color: white;
  width:350px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.pending-list-title{
  background-color: rgb(255, 255, 115);
  opacity: 80%;
  color: rgb(0, 0, 0);
  width:350px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.complete-list-title{
  background-color: rgb(64, 255, 0);
  opacity: 80%;
  color: rgb(0, 0, 0);
  width:350px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.todo{
  background-color: rgb(131, 131, 255);
}
.not-todo{
  background-color: rgb(255, 121, 121);
}
#quote
{
  font-size: 30px;
  color:white;
}

.hidden {
  display: none;
}